# MacOS ignores.
.DS_Store

# Language ignores.
node_modules
venv

# Home
home/.vim/

## Config
config/memos.json

# Untracked files
config/coc/
config/gcloud/

# Submodules
config/nvim/.git
config/rustfmt/.git
config/alacritty/.git
config/iterm2/
