# MacOS ignores.
.DS_Store

# Language ignores.
node_modules
venv

# Homebrew
Brewfile.lock.json

# Home
home/vim/

# Config
config/coc/
config/expressvpn/
config/gcloud/
config/gh/
config/github-copilot/
config/iterm2/
config/jgit/

# Homebrew
Brewfile.lock.json
