# MacOS ignores.
.DS_Store

# Language ignores.
node_modules
venv

# Home
home/vim/

## Config
config/coc/
config/expressvpn/
config/iterm2/
config/gcloud/
config/github-copilot/
config/gh/

# Homebrew
Brewfile.lock.json
